@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $greyWhite;
}

#popup-root {
  height: 120px;
  width: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.root__wrapper {
  width: 100%;
  text-align: center;

  .root__wrapper__h1 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
  }

  .root__wrapper__h3 {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .root__wrapper__pointer {
    cursor: pointer;
    margin-top: 15px;
    font-size: 20px;
    text-decoration: underline;
  }
}
